{% extends 'base.html' %}


{% block content %}

<div class="container">
    <h1 class="mt-3 text-uppercase">Personal Details</h1>
    <div class="col-md-6 mt-4">
        <form method="post" id="personForm" data-branches-url="{% url 'ajax_load_branches' %}">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form> <br>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_district").change(function () {
        const url = $("#personForm").attr("data-branches-url");  // get the url of the `load_cities` view
        const districtId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'district_id': districtId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_branch").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
{% endblock %}